body {
    display: grid;
    grid-template-areas:
        'header header'
        'main aside'
        'footer footer';
    grid-template-columns: 2fr 1fr;
    font-family: Arial, sans-serif;
    height: 100vh;
}


header {
    grid-area: header;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #f8f9fa;
}

.brand-img {
    width: 100px;
    height: auto;
}

main {
    grid-area: main;
    padding: 1rem;
}

.carousel-item {
    height: 600px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 350px;
    width: 100%;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #00c4ff, 0 0 20px #00c4ff, 0 0 30px #00c4ff, 0 0 40px #00c4ff;
    }
    to {
        text-shadow: 0 0 20px #00c4ff, 0 0 30px #00c4ff, 0 0 40px #00c4ff, 0 0 50px #00c4ff, 0 0 60px #00c4ff;
    }
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

aside {
    grid-area: aside;
    order:2
}


footer {
    grid-area: footer;
    background-color: #f8f9fa;
    color: #333;
    padding: 45px 0 20px;
    font-size: 14px;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.social-icons a:last-child {
    margin-right: 0;
}



@media screen and (min-width: 768px) {
    body {
        grid-template-areas:
            'header header'
            'main aside'
            'footer footer';
        grid-template-columns: 2fr 1fr;
    }
}
main.row {
    flex-wrap: nowrap;
}